body {
  background-color: whitesmoke;
  margin: 0;
  padding: 2%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Dosis', sans-serif; */
}

h1 {
  font-style: italic;
  font-size: 2.5rem;
}

/* victory pie chart */

.victory-pie-charts {
  padding: 1%;
  text-align: center;
  color: darkred;

}

.victory-pie-charts__content {
  display: flex;
  width: 100%;
}

.victory-pie-charts__chart-wrap {
  width: 33%;
}

/* recharts line chart */

.recharts-line-chart {
  padding: 1%;
  background-color: white;
  color: darkblue;
}

.recharts-line-chart__content {
  display: flex;
  justify-content: center;
}

.recharts-line-char__info {
  text-align: left;
  padding: 2%;
}

.recharts-line-char__info-eq {
  text-align: center;
  font-size: 2rem;
}

/* recharts bar chart */

.recharts-bar-chart {
  padding: 1%;
  color: steelblue;
}

.recharts-bar-chart__content {
  display: flex;
  justify-content: center;
}

/* recharts pie chart */

.recharts-pie-chart__chart-wrap {
  display: flex;
  padding-bottom: 3%;
}
